/* important for sizing and positioning */
figure, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic helper styles */
.cell {
  height: 50px;
  width: 50px;
}

.two-cell-h {
  height: 50px;
  width: 100px;
}

.two-cell-v {
  height: 100px;
  width: 50px;
}

.three-cell-h {
  height: 50px;
  width: 150px;
}

.three-cell-v {
  height: 150px;
  width: 50px;
}

.hidden {
  display: none !important;
}

/* For text */
.left { 
  padding: 10px;
  user-select: none;
}

/* For text */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  user-select: none;
}

/* For common game elements */
.controls {
  bottom: 0;
  margin: 10px;
  position: fixed;
  right: 0;
  text-align: right;
}

/* TODO: Improve mobile experience! */
.move-direction {
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  padding: 2px;
}

.toggle {
  font-size: 1rem;
}

.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
